<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{mainCss}}" />
    <link rel="stylesheet" type="text/css" href="{{semanticCss}}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Spectral:100,200,300,400,500,600,700,800,900" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret+One:100,200,300,400,500,600,700,800,900" />
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}
    <script src="{{mainJs}}"></script>
    <script src="{{semanticJs}}"></script>
  </body>
</html>