<div class="ui segment main-content">
  <h1>Home</h1>
  {{#each posts as |post| }}
  <div class="row align-center mb-5">
    <div class="col-md-6">
      <h2>{{post.post_title}}</h2>
      <span>{{post.post_date}}</span>
      <p>{{user.user_name}} &mdash; {{user.email}}</p>
      <p>{{post.post_content}}</p>
    </div>
    <div class="comment-btn-wrapper" onclick="toggleComments(this,{{post.id}})">
      <h3 class="ui dividing header show-btn">
        <i class="caret square down outline icon" style="visibility: visible;"></i>
        Show Comments
      </h3>
      <h3 class="ui dividing header hide-btn hidden">
        <i class="caret square up outline icon" style="visibility: visible;"></i>
        Hide Comments
      </h3>
    </div>
    <div class="ui comments hide-btn hidden" id="comments-wrapper-{{post.id}}" [data-post-id="${postId}"]>
      {{#each post.Comments as |comment|}}
        <div class="comment">
          <div class="content">
            <a class="author">{{comment.user.user_name}}</a>
            <div class="metadata">
              <div class="date">{{comment.comment_date}}</div>
            </div>
            <div class="text">
              {{comment.comment_content}}
            </div>
          </div>
        </div>
      {{/each}}
      <form class="ui reply form">
        <div class="field">
          <textarea></textarea>
        </div>
        <div class="ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Reply
        </div>
      </form>
    </div>
  </div>
  {{/each}}
</div>